#set( $jira = $xmlrpc.connect("swizzle:swizzle","http://jira.codehaus.org/rpc/xmlrpc") )
#set( $issue = $jira.getIssue("SWIZZLE-1") )

[$issue.key] $issue.summary
    - project:  $issue.project
    - id:  $issue.id
    - type:  $issue.type
    - priority:  $issue.priority
    - affectsVersions:  $issue.affectsVersions
    - fixVersions:  $issue.fixVersions
    - components:  $issue.components
    - status:  $issue.status
    - resolution:  $issue.resolution
    - created:  $date.format($issue.created,'EEE MMM dd HH:mm:ss yyyy')
    - updated:  $date.format($issue.updated,'EEE MMM dd HH:mm:ss yyyy')
    - duedate:  $date.format($issue.duedate,'EEE MMM dd HH:mm:ss yyyy')
    - reporter:  $issue.reporter
    - assignee:  $issue.assignee
    - votes:  $issue.votes
    - environment:  $issue.environment
    - description:  $issue.description
