#set( $cols = $columns.size() - 2)
<p>
    <table  width="100%" cellspacing="0" class="grid">
        <tr>
            <th colspan="$columns.size()" style="text-align: left;">
                <table width="100%" valign="middle" align="right" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td>
                            $title&nbsp;
                            <span class="smalltext">($issues.size()&nbsp;issues)</span>&nbsp;
                        </td>

                        <td width="100%">
                                &nbsp;
                        </td>
                        <td style="border-width: 1px 1px 0 1px; border-style: solid; border-color: #bbb;" width="1%">
                            <table height="6" valign="middle" align="right" cellspacing="0" cellpadding="0" border="0">
                                <tr height="6">
                                    <td nowrap="true" valign="middle" align="right"><font size="1">&nbsp;Sub-Task Progress:&nbsp;</font></td>

                                    <td width="51" bgcolor="009900" >

                                    <img src="http://jira.codehaus.org/images/border/spacer.gif"
                                    height=10 width="51" border=0
                                    title="Resolved Sub-Tasks - 51% (17 issues)" >

                                    </td>

                                    <td width="48" bgcolor="cc0000" >

                                    <img src="http://jira.codehaus.org/images/border/spacer.gif"
                                    height=10 width="48" border=0
                                    title="Unresolved Sub-Tasks - 48% (16 issues)" >
                                    </td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                </table>
            </th>
        </tr>
        <tr>
            #foreach( $columnId in $columns.keySet() )
            <th style="text-align: left;">
                $columns.get($columnId)
            </th>
            #end
        </tr>
        #set( $alternate = false )
        #foreach( $issue in $issues)
            #if( $alternate )
                <tr class="rowAlternate">
                #set( $alternate = false )
            #else
                <tr class="rowNormal">
                #set( $alternate = true )
            #end
                #foreach( $attribute in $columns.keySet() )
                <td #if( $attribute.equals('summary')==false )nowrap="true"#end>
                    #if( $attribute.equals('type') && $issue.type)
                        <a href="$issue.link"><img src="$icons.get( $issue.type.name )" alt="$!issue.type" border="0" /></a>
                    #elseif( $attribute.equals('key') )
                        <a href="$issue.link">$!issue.key</a>
                    #elseif( $attribute.equals('summary') )
                        <a href="$issue.link">$generalUtil.htmlEncode($!issue.summary)</a>
                    #elseif( $attribute.equals('assignee') )
                        $!issue.assignee
                    #elseif( $attribute.equals('reporter') )
                        $!issue.reporter
                    #elseif( $attribute.equals('priority') && $issue.priority)
                        <img src="$icons.get( $issue.priority.name )" alt="$!issue.priority" border="0" />
                    #elseif( $attribute.equals('status') && $issue.status)
                        <img src="$icons.get( $issue.status.name )" alt="$!issue.status" border="0" />$!issue.status
                    #elseif( $attribute.equals('resolution') )
                        <font color="990000">$!issue.resolution.name.toUpperCase()</font>
                    #elseif( $attribute.equals('created') )
                        $!generalUtil.format($issue.created)
                    #elseif( $attribute.equals('updated') )
                        $!generalUtil.format($issue.updated)
                    #elseif( $attribute.equals('due') )
                        $!generalUtil.format($issue.duedate)
                    #elseif( $attribute.equals('votes') )
                        $issue.votes
                    #else
                        &nbsp;
                    #end
                </td>
                #end
            </tr>
        #end
    </table>
</p>
