<p>
    <table  width="100%" cellspacing="0" class="grid">
        <tr>
            <th colspan="$columns.size()" style="text-align: left;">
                $title
                <span class="smalltext">($issues.size() issues)</span>
            </th>
        </tr>
        <tr>
            #foreach( $columnId in $columns.keySet() )
            <th style="text-align: left;">
                $columns.get($columnId)
            </th>
            #end
        </tr>
        #set( $alternate = false )
        #foreach( $issue in $issues)
            #if( $alternate )
                <tr class="rowAlternate">
                #set( $alternate = false )
            #else
                <tr class="rowNormal">
                #set( $alternate = true )
            #end
                #foreach( $attribute in $columns.keySet() )
                <td #if( $attribute.equals('summary')==false )nowrap="true"#end>
                    #if( $attribute.equals('type') && $issue.type)
                        <a href="$issue.link"><img src="$icons.get( $issue.type.name )" alt="$!issue.type" border="0" /></a>
                    #elseif( $attribute.equals('key') )
                        <a href="$issue.link">$!issue.key</a>
                    #elseif( $attribute.equals('summary') )
                        <a href="$issue.link">$generalUtil.htmlEncode($!issue.summary)</a>
                    #elseif( $attribute.equals('assignee') )
                        $!issue.assignee
                    #elseif( $attribute.equals('reporter') )
                        $!issue.reporter
                    #elseif( $attribute.equals('priority') && $issue.priority)
                        <img src="$icons.get( $issue.priority.name )" alt="$!issue.priority" border="0" />
                    #elseif( $attribute.equals('status') && $issue.status)
                        <img src="$icons.get( $issue.status.name )" alt="$!issue.status" border="0" />$!issue.status
                    #elseif( $attribute.equals('resolution') )
                        <font color="990000">$!issue.resolution.name.toUpperCase()</font>
                    #elseif( $attribute.equals('created') )
                        $!generalUtil.format($issue.created)
                    #elseif( $attribute.equals('updated') )
                        $!generalUtil.format($issue.updated)
                    #elseif( $attribute.equals('due') )
                        $!generalUtil.format($issue.duedate)
                    #elseif( $attribute.equals('votes') )
                        $issue.votes
                    #else
                        &nbsp;
                    #end
                </td>
                #end
            </tr>
        #end
    </table>
</p>
