#set( $void = $params.required( "url" , "https?://.+", "the URL of the parent issue" ) )
#set( $void = $params.validate() )
#if( !$url.endsWith("rss") )
#set( $url = "${url}?decorator=none&view=rss" )
#end
#set( $jira = $rss.fetch($url) )
#set( $issues = $jira.fillSubTasks() )
#foreach( $issue in $issues )
  [$issue.key] $issue.summary
#foreach( $subtask in $issue.subTasks )
    [$subtask.key] $subtask.summary
#end
#end
