#set( $void = $params.required( "serverUrl" , "https?://.+", "the base URL where jira is available, no trailing slash" ) )
#set( $void = $params.required( "projectId" , "[0-9]+", "the numeric id the project" ) )
#set( $void = $params.required( "projectName" , ".+", "the display name the project" ) )
#if ( $email == "true" )
#set( $void = $params.required( "to" , ".+", "the email 'To' address" ) )
#set( $void = $params.required( "from" , ".+", "the email 'From' address" ) )
#end
#set( $void = $params.validate() )
##
#set( $url = "${serverUrl}/secure/IssueNavigator.jspa?view=rss&&pid=${projectId}&status=1&tempMax=1000&reset=true&decorator=none" )
#set( $jirarss = $rss.fetch( $url ) )
#set( $issues = $jirarss.issues.sort("updated") )
#set( $void = $date.format("yyyy-MM-dd") )
##
#if ( $email == "true" )
TO: $to
FROM: $from
SUBJECT: $projectName Open Issues as of $date

#end

$projectName - $date.as("EEEE, MMMM d, yyyy")

  $issues.size() open issues
  (sorted oldest to newest by date updated)

#if ( $issues.size() < 20 )
#foreach( $issue in $issues )
    [$issue.key] $issue.summary
      - Updated: $date.format($issue.updated)
      - Type: $issue.type
      - Assignee: $issue.assignee
      - Components: $issue.components
      - Affects Versions: $issue.affectsVersions
      - $issue.link

#end
#elseif ( $issues.size() < 100 )
#foreach( $issue in $issues )
    [$issue.key] $issue.summary
      $date.format($issue.updated) - $issue.assignee - $issue.type - $issue.components
      $issue.link

#end
#elseif ( $issues.size() < 200 )
#foreach( $issue in $issues )
  $date.format($issue.updated) - [$issue.key] $issue.summary
  $issue.link

#end
#else
#foreach( $issue in $issues )
  $date.format($issue.created) - $issue.link
#end
#end

--
template: $template
