#set( $void = $params.required( "serverUrl" , "https?://.+", "the base URL where jira is available, no trailing slash" ) )
#set( $void = $params.required( "projectId" , "[0-9]+", "the numeric id the project" ) )
#set( $void = $params.required( "projectName" , ".+", "the display name the project" ) )
#if ( $email == "true" )
#set( $void = $params.required( "to" , ".+", "the email 'To' address" ) )
#set( $void = $params.required( "from" , ".+", "the email 'From' address" ) )
#end
#set( $void = $params.validate() )
##
#set( $url = "${serverUrl}/secure/IssueNavigator.jspa?view=rss&&pid=${projectId}&status=1&tempMax=200&reset=true&decorator=none" )
#set( $jirarss = $rss.fetch( $url ) )
#set( $issues = $jirarss.issues )
#set( $issues = $issues.greater("votes", 0).descending("votes") )
#set( $void = $date.format("yyyy-MM-dd") )
##
#if ( $email == "true" )
TO: $to
FROM: $from
SUBJECT: Open Issues by Votes: $date

#end

$projectName - $date.as("EEEE, MMMM d, yyyy")

  $issues.size() issues

#if ( $issues.size() < 11 )
#foreach( $issue in $issues )
    [$issue.key] $issue.summary
      - Type: $issue.type
      - Assignee: $issue.assignee
      - Components: $issue.components
      - Affects Versions: $issue.affectsVersions
      - Votes: $issue.votes
      - $issue.link

#end
#elseif ( $issues.size() < 30 )
#foreach( $issue in $issues )
    [$issue.key] $issue.summary
      $issue.votes - $issue.type - $issue.assignee - $issue.affectsVersions
      $issue.link

#end
#elseif ( $issues.size() < 50 )
#foreach( $issue in $issues )
  $issue.votes - [$issue.key] $issue.summary
  $issue.link

#end
#else
#foreach( $issue in $issues )
  $issue.votes - $issue.link
#end
#end
