#if($feed.entries.size() > 0)

	#foreach($entry in $feed.entries)
		#if ($max <= 0 || $velocityCount <= $max)

        <DIV class="blogSurtitle">
          <IMG src="http://cwiki.apache.org/confluence/images/icons/blogentry_16.gif" height="16" width="16" border="0" align="absmiddle">
          #if($blogUrl)
            <A class="blogDate" href="$blogUrl/date/$linkDate.format( $entry.publishedDate )">
          #end

          $longDate.format( $entry.publishedDate )

          #if($baseUrl)
            </A>
          #end
        </DIV>

        <DIV class="blogpost" style="margin-bottom: 30px">
          <DIV class="blogHeading">
                #if($entry.link)
                    <a href="$entry.link">
                #end
                <b>$entry.title</b>
                #if($entry.link)
                    </a>
                #end
          </DIV>

          <DIV class="pagesubheading"></DIV>

          <DIV class="wiki-content">
            <P>$entry.description.value</P>
          </DIV>

          <DIV class="endsection">
            <B>Posted at $shortDate.format( $entry.publishedDate )</B> by

            <IMG src="http://cwiki.apache.org/confluence/images/icons/user_16.gif" height="16" width="16" border="0" align="absmiddle">

            $entry.author |

            <IMG src="http://cwiki.apache.org/confluence/images/icons/comment_16.gif" height="16" width="16" border="0" align="absmiddle">
            #if($entry.link)
                <a href="$entry.link#comments">comments</a>
            #end
          </DIV>
        </DIV>
		#end
	#end
	</div>
#end
