<assembly>
  <id>plugin</id>
  <formats>
    <format>jar</format>
  </formats>
  <includeBaseDirectory>false</includeBaseDirectory>
  <fileSets>
    <fileSet>
      <directory>target/classes</directory>
      <outputDirectory>/</outputDirectory>
    </fileSet>
  </fileSets>
  <dependencySets>
    <dependencySet>
      <outputDirectory>/</outputDirectory>
      <unpack>true</unpack>
      <scope>runtime</scope>
      <includes>
        <include>org.codehaus.swizzle:swizzle-jira</include>
        <include>org.codehaus.swizzle:swizzle-jirareport</include>
        <include>org.codehaus.swizzle:swizzle-stream</include>
        <include>velocity:velocity</include>
      </includes>
    </dependencySet>
  </dependencySets>
</assembly>