#set( $jira = $xmlrpc.connect("swizzletester:swizzle","http://jira.codehaus.org/rpc/xmlrpc") )

#foreach( $project in $jira.getProjects().matches("name", "[Mm]aven.*[Pp]lugin") )
   $project.name
#end
