#set( $jira = $xmlrpc.connect("swizzle:swizzle","http://jira.codehaus.org/rpc/xmlrpc") )
#set( $issue = $jira.getIssue("SWIZZLE-1") )
#set( $issue = $jira.fill($issue) )
#set( $info = $jira.getServerInfo() )
    $info.baseUrl
    [$issue.key] $issue.summary
      - Assignee: $issue.assignee
      - Reporter: $issue.reporter
      - Created:  $issue.created
      - Updated:  $issue.updated
      - Votes: $issue.votes
      - $issue.link

#set( $jira = $rss.fetch("http://jira.codehaus.org/browse/SWIZZLE-1?decorator=none&view=rss") )
#set( $issue = $jira.getIssue("SWIZZLE-1") )
    [$issue.key] $issue.summary
      - Assignee: $issue.assignee
      - Reporter: $issue.reporter
      - Created:  $issue.created
      - Updated:  $issue.updated
      - Votes: $issue.votes
      - $issue.link
