<p>
<table cellpadding="2" cellspacing="0" border="0" width="100%" align="center">
<tr>
    <td width="1%" nowrap>
        <b>$title</b>&nbsp;
    </td>

    <td width="100%">
        &nbsp;
    </td>

    <td style="border-width: 1px 1px 0 1px; border-style: solid; border-color: #bbb;" width="1%">
        <table height="6" valign="middle" align="right" cellspacing="0" cellpadding="0" border="0">
            <tr height="6">
            <td  height="6" nowrap="true" valign="middle" align="right"><font size="1">&nbsp;Issue Progress:&nbsp;</font></td>
            <td>
                <table height="6" valign="middle" align="right" cellspacing="0" cellpadding="0" border="0">
                    <tr height="6">
                    #set( $resolved = $issues.matches("status", "Closed|Resolved").size() )
                    #set( $unresolved = $issues.size() - $resolved )
                    #set( $count = $issues.size() )
                    #set( $resolvedPercent = $resolved * 100 )
                    #set( $resolvedPercent = $resolvedPercent / $count )
                    #set( $unresolvedPercent = $unresolved * 100 )
                    #set( $unresolvedPercent = $unresolvedPercent / $count )
                    #if ( $resolvedPercent > 0 )
                    #set( $width = $resolvedPercent )
                    <td height="6" width="$width" bgcolor="009900">
                    <img src="$icons.get( "spacer" )" height=10 width="$width" border=0 title="Resolved Issues - $resolvedPercent% ($resolved issues)" >
                    </td>
                    #end
                    #if ( $unresolvedPercent > 0 )
                    #set( $width = $unresolvedPercent )
                    <td height="6" width="$width" bgcolor="cc0000">
                    <img src="$icons.get( "spacer" )" height=10 width="$width" border=0 title="Unresolved Issues - $unresolvedPercent% ($unresolved issues)" >
                    </td>
                    #end
                    </tr>
                </table>
            </td>
            </tr>
        </table>
    </td>
</tr>
</table>

    <table  width="100%" cellspacing="0" class="grid">
        <tr>
            <th width="1%" style="text-align: left;">
                &nbsp;
            </th>
            #foreach( $columnId in $columns.keySet() )
            <th style="text-align: left;">
                $columns.get($columnId)
            </th>
            #end
        </tr>
        #set( $alternate = false )
        #foreach( $issue in $issues)
            #if( $alternate )
                <tr class="rowAlternate">
                #set( $alternate = false )
            #else
                <tr class="rowNormal">
                #set( $alternate = true )
            #end
            #if ($issue.status.name.equals("Closed") || $issue.status.name.equals("Resolved"))
                <td><div style='background-color:ccffcc'><strike>$velocityCount.</strike></div></td>
            #else
                <td><div style='background-color:ffcccc'>$velocityCount.</div></td>
            #end
                #foreach( $attribute in $columns.keySet() )
                <td #if( $attribute.equals('summary')==false )nowrap="true"#end>
                    #if( $attribute.equals('type') && $issue.type)
                        <a href="$issue.link"><img src="$icons.get( $issue.type.name )" alt="$!issue.type" border="0" /></a>
                    #elseif( $attribute.equals('key') )
                        <a href="$issue.link">$!issue.key</a>
                    #elseif( $attribute.equals('summary') )
                        <a href="$issue.link">$generalUtil.htmlEncode($!issue.summary)</a>
                    #elseif( $attribute.equals('assignee') )
                        $!issue.assignee
                    #elseif( $attribute.equals('reporter') )
                        $!issue.reporter
                    #elseif( $attribute.equals('priority') && $issue.priority)
                        <img src="$icons.get( $issue.priority.name )" alt="$!issue.priority" border="0" />
                    #elseif( $attribute.equals('status') && $issue.status)
                        <img src="$icons.get( $issue.status.name )" alt="$!issue.status" border="0" />$!issue.status
                    #elseif( $attribute.equals('resolution') )
                        <font color="990000">$!issue.resolution.name.toUpperCase()</font>
                    #elseif( $attribute.equals('created') )
                        $!generalUtil.format($issue.created)
                    #elseif( $attribute.equals('updated') )
                        $!generalUtil.format($issue.updated)
                    #elseif( $attribute.equals('due') )
                        $!generalUtil.format($issue.duedate)
                    #elseif( $attribute.equals('votes') )
                        $issue.votes
                    #else
                        &nbsp;
                    #end
                </td>
                #end
            </tr>
        #end
    </table>
</p>
