#set( $jira = $rss.fetch("http://jira.codehaus.org/secure/IssueNavigator.jspa?view=rss&&pid=11230&component=12371&tempMax=25&reset=true&decorator=none") )
#set( $issues = $jira.issues )

New Features:

#foreach ( $issue in $issues.equals("type", "New Feature") )
  * [$issue.key] $issue.summary
#end

Improvements:

#foreach ( $issue in $issues.equals("type", "Improvement") )
  * [$issue.key] $issue.summary
#end

Bugs:

#foreach ( $issue in $issues.equals("type", "Bug") )
  * [$issue.key] $issue.summary
#end

Tasks:

#foreach ( $issue in $issues.equals("type", "Task") )
  * [$issue.key] $issue.summary
#end
